.btn{
    width: auto;
    height: 48px;
    background-color: purple;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
}
.w-100-p{
    width: 100% !important;
}
.mt-30{
    margin-top: 30px !important;
}
.m-30{
    margin: 30px;
}
.btn-gray{
    width: auto;
    height: 48px;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;

}